@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.App{
    font-family: "Poppins";
    background-color: black;
}
.welcome{
  text-align: center;
  padding: 10%;
  color: white;
  background-image: url(/public/backgi.svg);
  
  
  background-blend-mode:hue;
  background-repeat: no-repeat;
  background-position: center;
  
}
.welcome-text{
  padding: 5%;
  font-size:1.5cm;
  
}
.Name{
  padding: 5%;
  color:white;
}

.title-blogs,.subtitle{
  color: yellow;
}